#article {
    display: flex inline;
    border: 1px solid black;
    
}
#articleHeader{
    border: 1px solid black;
    text-align: center;
}

.upcoming{
    background-color: lightblue;
    font-size: larger;
    font-weight: bolder;
}